<div class="container mt-5">
  <div class="d-flex justify-content-between">
    <h3><%= @article.title %> </h3>
    <%= link_to "âœï¸ Edit article", edit_article_path(@article) %>
  </div>
  <p> <%= @article.content %> </p>

  <%= link_to "ðŸ” View all articles", articles_path %>
</div>
